/** GLOBAL STYLES */

body {
  font-family: Helvetica;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* END GLOBAL */

#main-header {
  background-color: rgb(27, 27, 27);
  height: 3em;
}

.type-logo {
  color: rgb(47, 185, 219);
  font-family: Helvetica;
  margin: 0;
}

.logo-container {
  padding-top: 1em;
  padding-left: 1em;
  color: white;
}

.signin {
  display: block;
  position: absolute;
  top: 48vh;
  left: 42.5vw;
  border: 1px solid hsl(181, 100%, 32%);
  width: 10em;
  height: 1em;
  text-align: center;
  padding: 5px;
  background-color: hsl(182, 55%, 39%);
  color: white;
  font-family: sans-serif;
  cursor: pointer;
}

.signout {
  display: none;
  position: absolute;
  top: 1em;
  left: 6.5em;
  color: white;
  font-family: sans-serif;
  cursor: pointer;
  z-index: 2;
}

#home {
  display: block;
  height: 100vh;
  background-image: linear-gradient(
    to bottom left,
    rgb(252, 252, 252) 55%, hsl(181, 50%, 83%), hsl(183, 53%, 55%)
  );
}

.welcome-container {
  display: block;
  position: absolute;
  top: 43vh;
  left: 40vw;
  width: 280px;
  font-size: 25px;
}

.welcome-text {
  margin: 0;
  float: left;
}

.sub-logo-container {
  width: 50%;
  margin-left: 50%;
}

.data {
  display: none;
  padding: 0;
  margin: 0;
}

.row {
  height: 50px;
  border-bottom: 1px solid rgb(209, 209, 209);
  width: 100vw;
  padding: 0;
}

.contact, .email, .dash {
  float: left;
  margin: 1em;
  height: 1em;
  color: dimgray;
}

.dash {
  font-size: 30px;
  margin: 7px 15px 0 15px;
  color: #979797;
}
.email {
  color: rgb(211, 0, 0)
}
